@import "media";
$col: 20;  // biến col tuỳ theo cách chia grid mà thay đổi
$gulter: 10px;

.row {
  display: flex;
  flex-wrap: wrap;
  margin: -$gulter / 2;

  @include xs {
    @for $i from 1 through $col {
      .col-pj20-xs-#{$i} {
        width: (100% / $col) * $i;
        // padding: $gulter / 2;
      }
    }
  }

  @include sm {
    @for $i from 1 through $col {
      .col-pj20-sm-#{$i} {
        width: (100% / $col) * $i;
        padding: $gulter / 2;
      }
    }
  }

  @include md {
    @for $i from 1 through $col {
      .col-pj20-md-#{$i} {
        width: (100% / $col) * $i;
        // padding: $gulter / 2;
      }
    }
  }

  @include lg {
    @for $i from 1 through $col {
      .col-pj20-lg-#{$i} {
        width: (100% / $col) * $i;
        // padding: $gulter / 2;
      }
    }
  }

  @include xl {
    @for $i from 1 through $col {
      .col-pj20-xl-#{$i} {
        width: (100% / $col) * $i;
        // padding: $gulter / 2;
      }
    }
  }
  
}

