@import "media";
$col: 12;  // tao 1 bien trong css, so luong column trong 1 row
$gulter: 10px;

.row {
  display: flex;
  flex-wrap: wrap;
  margin: -$gulter / 2;

  @include xs {
    @for $i from 1 through $col {
      .col-xs-#{$i} {
        width: (100% / $col) * $i;
        padding: $gulter / 2;
        
      }
    }
  }

  @include sm {
    @for $i from 1 through $col {
      .col-sm-#{$i} {
        width: (100% / $col) * $i;
        padding: $gulter / 2;
      }
    }
  }

  @include md {
    @for $i from 1 through $col {
      .col-md-#{$i} {
        width: (100% / $col) * $i;
        padding: $gulter / 2;
      }
    }
  }

  @include lg {
    @for $i from 1 through $col {
      .col-lg-#{$i} {
        width: (100% / $col) * $i;
        padding: $gulter / 2;
      }
    }
  }

  @include xl {
    @for $i from 1 through $col {
      .col-xl-#{$i} {
        width: (100% / $col) * $i;
        padding: $gulter / 2;
      }
    }
  }
  
}

